
@font-face {
    font-family: 'Simple CLM';
    font-weight: 400;
    font-style: normal;
    src: url('400.woff') format('woff');
}

@font-face {
    font-family: 'Simple CLM';
    font-weight: 700;
    font-style: normal;
    src: url('700.woff') format('woff');
}
