<nav class="footer">
  <span class="netfree-link-container">
    <a href="https://netfree.link/"
      target="_blank"
      style="display: inline-block;">
      <img src="https://static.wixstatic.com/media/5b01e8_b914c4bc6389413ca5c60c7d87f9a053~mv2.png/v1/fill/w_168,h_163,al_c,lg_1/5b01e8_b914c4bc6389413ca5c60c7d87f9a053~mv2.png">
    </a>
  </span>
  <span class="credit">פיתוח:
    <a target="_blank"
      href="https://zvizvi.xyz">zvizvi</a>
    <a target="_blank"
      href="http://forum.netfree.link/user/957">957</a>
    ©
  </span>
</nav>
