.header {
  text-align: center;
  background: #fff;
  padding: 24px;

  a.logo {
    display: inline-table;
  }

  .title {
    font-family: 'Simple CLM', serif;
    font-size: 45px;
    line-height: 55px;
    display: inline-block;
    padding-top: 3px;
    vertical-align: middle;
  }

  img {
    width: 44px;
    height: 40px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
  }
}
