.home {
  min-height: 100vh;

  .content {
    min-height: 86vh;
    background: #f6f6f6;
    padding-bottom: 190px;

    md-tabs {
      background: #fff;
      padding: 0 80px;
      border-radius: 0;

      md-tabs-wrapper {
        border: none;
      }
    }

    .cards {
      .md-card {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex: 1;
        min-width: 370px;
        max-width: 400px;
        box-sizing: border-box;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: 8px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.87);
        background-color: rgb(255, 255, 255);
        border-radius: 2px;

        .card-image {
          border-radius: 2px;
          height: 300px;
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-size: cover;
          background-position: center center;
        }

        md-card-title {
          position: relative;
          padding: 14px 16px 18px;

          .badge-container {
            height: 18px;
            margin-bottom: 9px;

            .badge {
              display: inline-block;
              background: #ec407a;
              color: #fff;
              padding: 0px 8px;
              line-height: 16px;
              font-size: 12px;
              border-radius: 3px;
            }
          }

          .md-button {
            position: absolute;
            top: -36px;
            left: 28px;
            background: #ad1457;

            &:hover {
              background: #ec407a;
            }

            i {
              font-size: 35px;
              line-height: 57px;
              padding-left: 3px;
            }
          }
        }
      }
    }
  }
}
