<div class="home">
  <header></header>
  <md-content>
    <div class="content">
      <div ng-cloak>
        <md-tabs class="md-whiteframe-1dp" md-border-bottom>
          <md-tab ng-click="vm.setFilter('')" label="הכל"></md-tab>
          <md-tab ng-repeat="category in vm.categoryList" ng-click="vm.setFilter(category.name)" label="{{category.label}}"></md-tab>
        </md-tabs>
        <div class="cards">
          <div layout="row" layout-wrap layout-align="start stretch" class="md-padding">
            <a class="md-card {{card.name}}" ng-repeat="card in vm.list | filter: {'category': vm.filter}" ui-sref="streamShow({streamName: card.name})">
              <div class="card-image" ng-style="{'background-image': 'url({{card.image}})' }"></div>
              <!-- <img ng-src="{{card.image}}"
              class="md-card-image"
              alt=""> -->
              <md-card-title>
                <md-button class="md-fab" aria-label="Play">
                  <i class="zmdi zmdi-play"></i>
                </md-button>
                <div>
                  <div class="badge-container">
                    <span ng-if="card.live" class="badge">שידור חי</span>
                  </div>
                  <span class="md-headline">{{card.label}}</span>
                </div>
              </md-card-title>
            </a>
          </div>
        </div>
      </div>
    </div>
  </md-content>
  <footer class="fixed"></footer>
</div>
